@model IEnumerable<MyFollow.Models.ProductOwner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageProductOwner.cshtml";
}

<h2>Index</h2>


    <div class="jumbotron">
        <h3>Hello, Sir</h3>
        <p class="lead">Welcome To Panel .</p>
    </div>

    @*<div class="row">
        <div class="col-md-4">
            <h2>Product Owner</h2>
            <p>
                TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
                TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
            </p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Products</h2>
            <p>
                TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
                TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
            </p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>End User</h2>
            <p>
                TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
                TestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTestTest
            </p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
    </div>*@


