@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Follow</h1>
    <p class="lead">Welcome To My Follow Application .</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product Owner</h2>
        <p>
            Test Test
            </p>
        <p><a class="btn btn-default" >Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>    Test Test
        <p><a class="btn btn-default" >Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>End User</h2>
        <p>           Test Test
        <p><a class="btn btn-default" >Learn more &raquo;</a></p>
    </div>
</div>